[build]
builder = "nixpacks"

[deploy]
startCommand = "gunicorn digiman.app:app --bind 0.0.0.0:$PORT"
healthcheckPath = "/"
healthcheckTimeout = 30
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 3
